<section id="footer-section">
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="col-sm-12">
                  <img src="../../../assets/images/logo-single.png" alt="ng-srilanka" class="img-responsive footer-image">
                  <app-social-icons-component></app-social-icons-component>
              </div>
            </div>
          
            <div class="col-sm">
              <div class="col-sm-12">
                  <h4 class="footer_title">
                      Keep in touch
                  </h4>
                  <app-mailchimp-form></app-mailchimp-form>
              </div>
            </div>
          </div>
        </div>
    </footer>
    <div class="copyright_footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-12">
                    <p>Copyright &copy; All rights reserved</p>
                </div>
                <div class="col-12 col-md-6 ">
                    <ul class="footer_menu">
                        <li>
                            <a href="#location">Venue</a>
                        </li>
                        <li>
                            <a href="#sponsors">Sponsors</a>
                        </li>
                        <li>
                            <a href="#speakers">Speakers</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>