<section class="venue section-spacing" id="venue">
  <div class="venue-bg">
  <div class="overlay">
    <div class="container">
      <div class="row event-details">
        <div class="col-md-4 venue-sec">
          <p class="address-icon"><i class="fa fa-map-marker"></i></p>
          <address>  
          <p>NSBM Green University Town, Pitipana, Homagama</p>
          <p class="map-link "><a target="_blank" href="https://www.google.com/maps/place/NSBM+Green+University/@6.8211381,80.0408951,15z/data=!4m5!3m4!1s0x0:0xddb466719c0595db!8m2!3d6.8211381!4d80.0408951">Get location</a></p>
          </address>
        </div>
        <div class="col-md-4 date-time">
          <p><i class="fa fa-clock-o"></i></p> 
          <p class="time-text">08.00AM</p>
        </div>
        <div class="col-md-4 date-time">
          <p><i class="fa fa-calendar"></i></p>
          <p class="date-text">14<span>th</span> SEPTEMBER</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid venue-gallery-container">
    <div class="row no-gutters">

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="../../../assets/images/venue-gallery/1.jpg" class="venobox" data-gall="venue-gallery">
            <img src="../../../assets/images/venue-gallery/1.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="../../../assets/images/venue-gallery/2.jpg" class="venobox" data-gall="venue-gallery">
            <img src="../../../assets/images/venue-gallery/2.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="../../../assets/images/venue-gallery/3.jpg" class="venobox" data-gall="venue-gallery">
            <img src="../../../assets/images/venue-gallery/3.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="../../../assets/images/venue-gallery/4.jpg" class="venobox" data-gall="venue-gallery">
            <img src="../../../assets/images/venue-gallery/4.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="../../../assets/images/venue-gallery/5.jpg" class="venobox" data-gall="venue-gallery">
            <img src="../../../assets/images/venue-gallery/5.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="../../../assets/images/venue-gallery/6.jpg" class="venobox" data-gall="venue-gallery">
            <img src="../../../assets/images/venue-gallery/6.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="../../../assets/images/venue-gallery/7.jpg" class="venobox" data-gall="venue-gallery">
            <img src="../../../assets/images/venue-gallery/7.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="../../../assets/images/venue-gallery/8.jpg" class="venobox" data-gall="venue-gallery">
            <img src="../../../assets/images/venue-gallery/8.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>

    </div>
  </div>
  <div id="tickets"></div>
</section>